@charset "UTF-8";

/*I_---------{  google font-family CDN  }---------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*W_----------{  Author      :   Bisakto-Rahi  }----------_*/
/*W_----------{  Create      :   08/12/2024    }----------_*/
/*G_--------------{  Start Common Style For all  }--------------_*/
/*-_----------{  My Color Variables  }----------_*/
:root {
  --red: #fc2a1b;
  --dark: #212529;
  --gray: #6c757d;
  --white: #ffffff;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --black: #000000;
  /*-_----------{  Website theme Color Variables  }----------_*/
  --Primary-1: #fff;
  /*-_----------{  Website Font Variables  }----------_*/
  --font-1: "Poppins", sans-serif;
}   /*R_----------{  Last Update   :   09/12/2024   }---------_*/
/*O_----------{ Common Class for Font  }---------- */
*{
  font-family: var(--font-1);
}        /*Y_----------{  Font weight : 100 to 900 are available  }---------- */
.center{
    text-align: center;
}
.justify{
    text-align: justify;
}
  /*//_----------{  My some Font Classes  }---------- */
/*G_-------------{  Common Style for Full-Website  }---------------_*/
*{
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before{
  box-sizing: border-box;
}
:hover,
:active,
:focus{
  outline: 0;
  outline-offset: 0;
}
a,
a:hover{
  text-decoration: none;
}
body{
  max-width: 1600px;
  font-size: 100%;
  font-family: var(--my-font-1);
  line-height: 1.5;
  color: var(--gray-900);
  background-color: var(--white);
  overflow-x: hidden;
}
/*K_----------{  Scrollbar style  }---------- */
html{
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  width: 0.625rem;
}
::-webkit-scrollbar-track{
  background-color: #ffffff;
}
::-webkit-scrollbar-thumb{
  background-color: #000;
}
